@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import url(https://fonts.googleapis.com/css?family=Cookie);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

/*http://simurai.com/lab/2011/08/21/brushed-metal/*/

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  font:62.5%/1 "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
  background-color: black;
}

button {
  border: none;
  display: inline-block;
}

a { text-decoration: none; display: block; }

#rotate {
  width: 400px;
  border: 5px #333 solid;
}

#top-controls {
  /*http://zurb.com/forrst/posts/CSS3_Metal_Background-NFP*/
  background: -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
  background-size: 10px 10px, 10px 10px, 100% 100%;
  background-repeat: repeat, repeat, no-repeat;
  background-position: 1px 1px, 0px 0px, center center;

  padding: 0;
}

/* Metal ------------------------- */

.metal {
  position: relative;
  margin: 10px auto;
  outline: none;

  font: bold 6em/2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;

  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */

    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */

  transition: color .2s;
}

/* Linear ------------------------- */

.metal.linear {
  width: 100px;
  font-size: 3em;
  height: 80px;
  border-radius: .5em;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),

    linear-gradient(180deg, hsl(0,0%,78%)  0%,
    hsl(0,0%,90%) 47%,
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}

/* active ------------------------- */

.metal:active {
  color: hsl(210, 100%, 40%);
  text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
  box-shadow:
    inset hsla(210,100%,30%,  1) 0  0px 0px 4px, /* border */
    inset hsla(210,100%,15%, .4) 0 -1px 5px 4px, /* soft SD */
    inset hsla(210,100%,20%,.25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(210,100%,100%,.7) 0  2px 1px 7px, /* top HL */

    hsla(210,100%,75%, .8) 0  0px 3px 2px, /* outer SD */
    hsla(210,50%,40%, .25) 0 -5px 6px 4px, /* outer SD */
    hsla(210,80%,95%,   1) 0  5px 6px 4px; /* outer HL */
}

#picture-area {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 470px;
  background-color: #660000;
  /*http://www.transparenttextures.com/*/
  background-image: url('/img/basketball.png');
}

#bottom-controls {
  /*http://zurb.com/forrst/posts/CSS3_Metal_Background-NFP*/
  background: -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
  background-size: 10px 10px, 10px 10px, 100% 100%;
  background-repeat: repeat, repeat, no-repeat;
  background-position: 1px 1px, 0px 0px, center center;

  padding: 0;
  height: 100px;
}

div#status {
  display: inline-block;
  position: absolute;
  background-color: #CCFFFF;
  border: 4px #333 solid;
  border-radius: 20px;
  height: 80px;
  width: 200px;
  padding: 10px 5px 10px 5px;
  right: 30px;
  top: 10px;
  text-align: center;
  overflow: hidden;
}

div#logo {
  display: inline-block;
  position: absolute;
  background-color: #cc0033;
  border: 1px darkred solid;
  border-radius: 40px;
  height: 80px;
  width: 80px;
  padding-top: 15px;
  left: 30px;
  top: 10px;
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-family: 'Dancing Script', cursive;
  overflow: hidden;
}

#status-code {
  font-size: 1.5em;
}
